/* html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
/* a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113" "\e151";
}

a.desc:after {
    content: "\e114" "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.noPadding{
    padding:0px !important;
}

.errorInput{
    border-color: #a94442;
    box-shadow: 0px 0px 3px #a94442;
}
.help-block{
    color: #a94442;
    font-style: oblique;
}

/*view login*/
/* .form-control-feedback-left{
    left: 0px !important;
}
.form-login input{
    padding-left: 30px;
}
.form-login .field-loginform-rememberme label{
    color: white !important;
}
.content-login{
    background: #0381B3;
    border-radius: 10px;
}
.form-login h1{
    color: white;
}
.form-login .icon-key{
    background-image: url("../images/key.png");
    background-color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: 20px;
    background-repeat: no-repeat;
    top: 7px;
    left: 5px;
}
.form-login .text-bold{
    font-weight: bold;
}
a.content-img-user{
    padding: 0 !important;
}
a.content-img-user > img.img-user{
    margin-top: 10px;
}
img.imagePdfIngreso{
    cursor: pointer;
}
img.imagePdfIngreso:hover{
    opacity: 0.8;
}
.containerSearch{
    width: 100%;
    float: left;
    background: red;
    position: absolute;
    z-index: 10;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.contentSearchLabel{
    width: 100%;
    float: left;
    padding: 4px 10px;
    background: #337ab7;
    color: black;
}
.contentSearchLabel:hover{
    color: white;
    cursor: pointer;
    background: #093458;
}
.responseCuenta{
    color: red;
    font-weight: bold;
    font-style: italic;
}
.checkForm label{
    width: 200px;

    position: relative;
    left: -20px;

    display: inline-block;
    vertical-align: middle;
    
    
}
.checkForm input{
    width: 20px; 
    position: relative; 
    left: 200px; 
    vertical-align: middle;
} */


/* mi css luis fernandobello*/

.createFolder button{
    float: right;
    margin-top: -40px;
}
.visualizar button{
    margin-left: -870px;
}
